<div class="pt-2">
	@if (TempData["success"] != null)
	{

		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			@TempData["success"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

	}
	else if ((TempData["delete"]?.ToString()) == "Category deleted sucessfully")
	{
		<div class="alert alert-danger alert-dismissible fade show" role="alert">
			@TempData["delete"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}

	else
	{
		<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.js"></script>
		<script type="text/javascript">
			toastr.error('@TempData["error"]');
		</script>
	}
	@* @if (TempData["CategoryName"] != null)
	{

		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			@TempData["CategoryName"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

	}
	@if (TempData["CategoryDispalyOrder"] != null)
	{

		<div class="alert alert-warning alert-dismissible fade show" role="alert">
			@TempData["CategoryDispalyOrder"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>

	} *@


</div>
<script type="text/javascript">
	setTimeout(function () {

		// Closing the alert
		$('.alert').alert('close');
	}, 4000);
</script>